@model BITCollege_BG.Models.AuditCourse

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AuditCourse</legend>

        @Html.HiddenFor(model => model.CourseId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ProgramId, "Program")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProgramId", String.Empty)
            @Html.ValidationMessageFor(model => model.ProgramId)
        </div>

       
        <div class="editor-field">
            @Html.HiddenFor(model => model.CourseNumber)
            @Html.ValidationMessageFor(model => model.CourseNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreditHours)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreditHours)
            @Html.ValidationMessageFor(model => model.CreditHours)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TuitionAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TuitionAmount)
            @Html.ValidationMessageFor(model => model.TuitionAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
