@model BITCollege_BG.Models.MasteryCourse

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MasteryCourse</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaximumAttempts)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaximumAttempts)
            @Html.ValidationMessageFor(model => model.MaximumAttempts)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProgramId, "Program")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProgramId", String.Empty)
            @Html.ValidationMessageFor(model => model.ProgramId)
        </div>

        

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreditHours)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreditHours)
            @Html.ValidationMessageFor(model => model.CreditHours)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TuitionAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TuitionAmount)
            @Html.ValidationMessageFor(model => model.TuitionAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
